@model IEnumerable<MyStore.Models.RolePermision>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FunctionRole)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FunctionRole)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { rolecode = item.RoleCode, functionrole = item.FunctionRole }) |
                @Html.ActionLink("Details", "Details", new { rolecode = item.RoleCode, functionrole = item.FunctionRole }) |
                @Html.ActionLink("Delete", "Delete", new { rolecode = item.RoleCode, functionrole = item.FunctionRole })
            </td>
        </tr>
}
    </tbody>
</table>
